{% extends 'base/base.html' %}
{% load static %}

{% block menu_microservice_name %}Заметки{% endblock %}
{% block site_title %}Ведение заметок{% endblock %}
{% block start_of_head %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg" color="#5bbad5' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{% static 'browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
{% endblock %}
{% block menu_items_microservice %}
    {% include "base/menu_items_microservice.html" with url_name="note_list" url_title="Все заметки" %}
    {% include "base/menu_items_microservice.html" with url_name="note_service_storage_list" url_title="Базы заметок" %}
    {% include "base/menu_items_microservice.html" with url_name="note_import_export" url_title="Импорт/экспорт" %}
{% endblock %}
{% block source_code_link %}
    <a href="https://github.com/syeysk/django-sy-notes" target="_blank">GitHub</a>
{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block page_title %}{% endblock %}
{% block title %}{% endblock %}
{% block content %}{% endblock %}
{% block end_of_body %}{% endblock %}
