{% extends 'template.html' %}
{% load static %}

{% block description %}
Сервис для ведения заметок, структурирования информации, мыслей, спонтанных идей
{% endblock %}

{% block keywords %}
ведение заметок онлайн, заметки
{% endblock %}

{% block title %}Ведение заметок{% endblock %}
{% block page_title %}Главная{% endblock %}

{% block content %}
<p>
    Сохраняйте свои самые безумные мысли, оформляйте их в фантастические идеи, связывайте друг с другом.
</p>

<p>
    Сервис полезен для:
</p>

<ul>
    <li>При написании статей и книг для накопления и структурирования информации;</li>
    <li>Хранения черновых планов, идей, дневников;</li>
    <li>Ведения рецензий на любимые книги и фильмы;</li>
    <li>Ведения метаисследований и компиляций научных статей;</li>
    <li>&lt;ваш вариант&gt;.</li>
</ul>

<h2>Преимущества</h2>

<ul>
	<li><a href="{% url 'note_import_export' %}">Импортируйте</a> заметки из внешнего хранилища: Firebase, Typesense, Github,</li>
    <li>Либо продолжайте хранить заметки во внешнем харнилище, а просматривайте и редактируйте - здесь.</li>
</ul>

<p>
  Внимание! Контент, создаваемый на данном веб-сервисе, является доступным в том числе и незарегистрированным посетителям.
  Пожалуйста, создавайте только такой контент, который считаете/является допустимым для публикации в открытый доступ.
</p>

{% endblock %}
