{% extends 'template.html' %}
{% load static %}

{% block description %}
Сервис для ведения заметок, структурирования информации, мыслей, спонтанных идей
{% endblock %}

{% block keywords %}
ведение заметок онлайн, заметки, Zettelkasten
{% endblock %}

{% block title %}Ведение заметок{% endblock %}
{% block page_title %}Главная{% endblock %}

{% block content %}
<p>
    Сохраняйте свои самые безумные мысли, оформляйте их в фантастические идеи, связывайте друг с другом.
</p>

<p>
    Сервис полезен для:
</p>

<ul>
    <li>Для накопления и структурирования информации при написании статей и книг;</li>
    <li>Хранения черновых планов, идей, дневников;</li>
    <li>Ведения рецензий на любимые книги и фильмы;</li>
    <li>Ведения метаисследований и компиляций научных статей;</li>
    <li>&lt;свой вариант&gt;.</li>
</ul>

<h2>Преимущества</h2>

<ul>
	  <li><a href="{% url 'note_import_export' %}">Импортируйте</a> заметки из внешней базы: Firestore, Typesense, Github,</li>
    <li>Либо продолжайте хранить заметки во внешней базе, а просматривайте и редактируйте - здесь.</li>
    <li>Все базы пользователей составляют единую базу. Это позволяет ссылаться из заметки одной базы на заметку в другой базе</li>
    <li>Достаточно интегрироваться с данным микросервисом, чтобы автоматически получить интеграцию со множеством внешних сервисов</li>
</ul>

<p>
  <b>Внимание!</b> Контент, создаваемый на данном веб-сервисе, является доступным, в том числе и незарегистрированным посетителям.
  Пожалуйста, создавайте только такой контент, который считаете/является допустимым для публикации в открытый доступ.
</p>

{% endblock %}
