{% extends 'template.html' %}

{% block title %}{{ note.title }}{% endblock %}
{% block page_title %} Заметка | {{ note.title }}{% endblock %}

{% block content %}
    {{ note|json_script:'note_json' }}

    <div id="app_note_id"></div>

    <script>
        NoteViewerComponent = {
            props: ['title', 'content'],
            data() {
                return {}
            },
            template: `
                <div>
										<h2>[[ title ]]</h2>
										<div>[[ content ]]</div>
                </div>
            `,
        }
		</script>

    <script>
        NoteEditorComponent = {
            props: ['title', 'content', 'errorMessage'],
            emits: ['save'],
            data() {
                return {mTitle: this.title, mContent: this.content}
            },
            template: `
                <form>
										<input name="title" v-model="mTitle" style="width:99%;">
										<br><br>
										<textarea name="content" v-model="mContent" style="width:99%;height:60vh;"></textarea>
										<br>
										<div :class="{'d-none': !errorMessage}">
    										<span>[[ errorMessage ]]</span>
    										<br>
    								</div>
										<input type="button" value="Сохранить" @click="save">
								</form>
            `,
            methods: {
                save() {
                    this.$emit('save', this.mTitle, this.mContent);
                },
            },
        }
		</script>

    <script>
        NoteComponent = {
            template: `
                <input type="button" value="Edit" @click="edit" :class="{'d-none': mode == 'edit'}">
                <note-viewer-component
                    :class="{'d-none': mode == 'edit'}"
                    :title="title"
                    :content="content"
                ></note-viewer-component>
                <note-editor-component
                    :class="{'d-none': mode == 'view'}"
                    :title="title"
                    :content="content"
                    :error-message="errorMessage"
                    @save="save"
                ></note-editor-component>
            `,
            components: {NoteViewerComponent, NoteEditorComponent},
            data() {
                return {
                    title: note_object.title,
                    content: note_object.content,
                    errorMessage: '',
                    mode: 'view',
                }
            },
            methods: {
                edit() {
                    this.mode = 'edit';
                },
                view() {
                    this.mode = 'view';
                },
                save(title, content) {
                    this.title = title;
                    this.content = content;
                    this.errorMessage = 'сохранение в разработке...'
                    this.view();
                }
            },
        }
		</script>

    <script>
        var note_object = JSON.parse(document.getElementById('note_json').textContent);
			  const { createApp } = Vue;

			  var app_note = createApp(NoteComponent);
			  app_note.config.compilerOptions.delimiters = [ '[[', ']]' ];
        var app_note_list = app_note.mount('#app_note_id');
        console.log(app_note_list);
		</script>
{% endblock %}
