{% extends 'template.html' %}
{% load markdownify %}
{% load static %}

{% block title %}Источники заметок{% endblock %}
{% block page_title %}Источники заметок{% endblock %}

{% block content %}
    <style>
        .storage_header {
            cursor: pointer;
            padding: 3px 3px 3px 10px;
            border-radius: 3px;
        }
        .storage_header:hover {
            background-color: #ebebeb;
        }
        .collapsed {
            background-color: #eeeeee;
        }
        .collapse-icon {
            width: calc(var(--bs-body-font-size) - 4px);
            height: calc(var(--bs-body-font-size) - 4px);
            cursor: pointer;
            margin-left: 4px;
        }
        .storage_body {
            padding: 0 10px 10px 35px;
        }
		</style>

    {{ storage_services|json_script:'storage_services' }}
    {{ service_names|json_script:'service_names' }}

    <script>
        var URL_ADD_NOTE = 'storage_services/';
        var CSRF_TOKEN = "{{ csrf_token }}";
    </script>

    <div id="app_note_storage_services_id"></div>

    <script>
        NoteStorageServiceComponent = {
            props:  ['service', 'source', 'description', 'isDefault', 'isNew'],
            data() {
                return {
                    collapsed: this.isNew ? false : true,
                    mIsNew: this.isNew,
                    mDescription: this.description,
                    mSource: this.source,
                    mIsDefault: this.isDefault,
                    mService: this.service,
                    service_names: JSON.parse(document.getElementById('service_names').textContent),
                };
            },
            emits: ['toggle'],
            template: `
                <div style="margin-bottom: 3px;" :class="{'collapsed': !collapsed}">
                    <div class="storage_header" @click="toggle">
                        <div style="color: #afafaf; font-size: calc(var(--bs-body-font-size) - 1px);">
                            <span>[[ mSource ]]</span>
                            |
                            <span>[[ mService ]]</span>
                            <span :class="{'d-none': !mIsDefault}"> | по-умолчанию</span>
                        </div>
                        <span :class="{'d-none': !collapsed}" style="font-size: calc(var(--bs-body-font-size) + 2px);">[[ mDescription ]]</span>
                        <svg class="bi collapse-icon" role="img" title="Open form" style="float: right;">
                            <use xlink:href="{% static 'pages/extern/bootstrap-icons.svg' %}#triangle-fill"/>
                        </svg>
                    </div>
                    <form class="storage_body" :class="{'d-none': collapsed}">

                        <select v-if="mIsNew" v-model="mService" name="service" class="form-select form-select-lg mb-3">
                            <option value="" selected disabled>Адаптер источника</option>
                            <option
                                v-for="service_name in service_names"
                                :value="service_name[0]"
                            >[[ service_name[1] ]]</option>
                        </select>

                        <div class="mb-3 form-group" id="description-group">
                            <div class="form-floating">
                                <input v-model="mDescription" class="form-control" type="input" name="description" id="description-field">
                                <label for="description-field" class="form-label">Описание источника</label>
                             </div>
                        </div>

                        <div class="mb-3 form-group" id="source-group">
                            <div class="form-floating">
                                <input v-model="mSource" class="form-control" type="input" name="source" id="source-field">
                                <label for="source-field" class="form-label">Кодовое имя источника</label>
                             </div>
                        </div>

                        <div class="mb-3 form-group" id="is_default-group">
                            <div class="form-check form-switch">
                                <input v-model="mIsDefault" class="form-check-input" type="checkbox" name="is_default" id="is_default-field">
                                <label for="is_default-field" class="form-check-label">Использовать по-умолчанию</label>
                             </div>
                        </div>

                        <input type="button" value="Сохранить" class="btn btn-secondary" @click="save">

                    </form>
                </div>
            `,
            methods: {
                toggle(event) {
                    this.collapsed = this.collapsed ? false : true;
                    this.$emit('toggle', this, this.collapsed);
                },
                save(event) {
                    let self = this;
                    $.ajax({
                        url: URL_ADD_NOTE + this.$.vnode.key,
                        headers: {
                            "X-CSRFToken": CSRF_TOKEN,
                        },
                        dataType: 'json',
                        data: {
                            description: this.mDescription,
                            source: this.mSource,
                            is_default: this.mIsDefault,
                            service: this.mService,
                        },
                        success: function(result) {
                            set_valid_field(event.target.form, result.updated_fields);
                            self.$.vnode.key = result.id;
                            self.mIsNew = false;
                        },
                        statusCode: {
                            500: function(xhr) {
                                self.errorMessage = 'ошибка сохранения'
                            },
                            400: function(xhr) {
                                set_invalid_field(event.target.form, xhr.responseJSON);
                            },
                            404: function(xhr) {
                                self.errorMessage = 'хранилище с таким именем не существует'
                            },
                        },
                        method: "post"
                    });
                },
            },
        }
		</script>

    <script>
        NoteStorageServicesComponent = {
            data() {
                return {
                    storages: JSON.parse(document.getElementById('storage_services').textContent),
                    uncollapsed_component: null,
                }
            },
            components: {NoteStorageServiceComponent},
            template: `
                <input type="button" value="Добавить" @click="add_server">
                <note-storage-service-component
                    v-for="storage in storages"
                    :key="storage.pk"
                    :service="storage.service"
                    :description="storage.description"
                    :is-default="storage.is_default"
                    :source="storage.source"
                    @toggle="toggle_any"
                    :is-new="storage.isNew"
                ></note-storage-service-component>
            `,
            methods: {
                toggle_any(component, is_collapsed) {
                    if (!is_collapsed && this.uncollapsed_component && component != this.uncollapsed_component) {
                        this.uncollapsed_component.collapsed = true;
                    }
                    this.uncollapsed_component = component;
                },
                add_server(event) {
                    if (this.uncollapsed_component) {
                        this.uncollapsed_component.collapsed = true;
                    }
                    if (this.storages[0].pk) {
                        this.storages.unshift(
                            {service: '', description: '', is_default: '', source: '', pk: '', isNew: 'true'},
                        );
                    }
                }
            },
        }
		</script>

    <script>
        const { createApp } = Vue;

        var app_note = createApp(NoteStorageServicesComponent);
        app_note.config.compilerOptions.delimiters = [ '[[', ']]' ];
        var app_note_storage_services = app_note.mount('#app_note_storage_services_id');
    </script>
{% endblock %}
