{% extends 'template.html' %}
{% load markdownify %}

{% block title %}{{ note.title }}{% endblock %}
{% block page_title %} Заметка | {{ note.title }}{% endblock %}

{% block content %}
    {{ note|json_script:'note_json' }}

    <div id="app_note_id"></div>

    <script>
        var URL_SAVE_NOTE = '';
        var CSRF_TOKEN = "{{ csrf_token }}";

        function update_page(title) {
            $('body h1')[0].textContent = title;
        }
    </script>

    <script>
        NoteViewerComponent = {
            props: ['content_html'],
            template: `<div v-html="content_html"></div>`,
        }
    </script>

    <script>
        NoteEditorComponent = {
            props: ['title', 'content', 'errorMessage', 'successMessage'],
            emits: ['save', 'cancel'],
            data() {
                return {mTitle: this.title, mContent: this.content}
            },
            template: `
                <form>
                    <input name="title" v-model="mTitle" style="width:99%;">
                    <br><br>
                    <textarea name="content" v-model="mContent" style="width:99%;height:60vh;"></textarea>
                    <br>
                    <div :class="{'d-none': !errorMessage}">
                        <span>[[ errorMessage ]]</span>
                        <br>
                    </div>
                    <div :class="{'d-none': !successMessage}">
                        <span>[[ successMessage ]]</span>
                        <br>
                    </div>
                    <input type="button" value="Сохранить" @click="save">
                    <input type="button" value="Отменить" @click="cancel">
                </form>
            `,
            methods: {
                save(event) {
                    this.$emit('save', event, this.mTitle, this.mContent);
                },
                cancel(event) {
                    this.$emit('cancel', event, this, this.mTitle, this.mContent);
                },
            },
        }
    </script>

    <script>
        NoteComponent = {
            template: `
                <input type="button" value="Edit" @click="edit" :class="{'d-none': mode == 'edit'}">
                <note-viewer-component
                    :class="{'d-none': mode == 'edit'}"
                    :content_html="content_html"
                ></note-viewer-component>
                <note-editor-component
                    :class="{'d-none': mode == 'view'}"
                    :title="title"
                    :content="content"
                    :error-message="errorMessage"
                    :success-message="successMessage"
                    @save="save"
                    @cancel="cancel"
                ></note-editor-component>
            `,
            components: {NoteViewerComponent, NoteEditorComponent},
            data() {
                return {
                    title: note_object.title,
                    content: note_object.content,
                    content_html: note_object.content_html,
                    errorMessage: '',
                    successMessage: '',
                    mode: 'view',
                }
            },
            methods: {
                edit() {
                    this.mode = 'edit';
                },
                view() {
                    this.mode = 'view';
                },
                cancel(event, editor, title, content) {
                    editor.mTitle = this.title;
                    editor.mContent = this.content;
                    this.view();
                },
                save(event, title, content) {
                    let self = this;
                    this.successMessage = 'Сохраняем...'
                    $.ajax({
                        url: URL_SAVE_NOTE,
                        headers: {
                            "X-CSRFToken": CSRF_TOKEN,
                        },
                        dataType: 'json',
                        data: {new_title: title, new_content: content, title: self.title},
                        success: function(result) {
                            set_valid_field(event.target.form, result.updated_fields);
                            self.successMessage = '';
                            history.pushState(
                                null,
                                null,
                                location.href.replace('/' + encodeURI(self.title), '/' + encodeURI(title)),
                            );
                            self.title = title;
                            self.content = content;
                            self.content_html = result.content_html;
                            update_page(title);
                            self.view();
                        },
                        statusCode: {
                            500: function(xhr) {
                                self.errorMessage = 'ошибка сохранения'
                            },
                            400: function(xhr) {
                                set_invalid_field(event.target.form, xhr.responseJSON);
                                self.errorMessage = 'сохранение в разработке...'
                            },
                            404: function(xhr) {
                                self.errorMessage = 'заметка с таким именем не существует'
                            },
                        },
                        method: "post"
                    });
                }
            },
        }
    </script>

    <script>
        var note_object = JSON.parse(document.getElementById('note_json').textContent);
        const { createApp } = Vue;

        var app_note = createApp(NoteComponent);
        app_note.config.compilerOptions.delimiters = [ '[[', ']]' ];
        var app_note_list = app_note.mount('#app_note_id');
        console.log(app_note_list);
    </script>
{% endblock %}
