{% extends 'template.html' %}
{% load mathfilters %}

{% block title %}Заметки{% endblock %}

{% block page_title %}Заметки{% endblock %}

{% block content %}

    <p>
        Совокупность заметок является базой знаний. Поиск по базе доступен через телеграм-бот и дискорд-сервер.
    </p>

    <script>
        function set_search(name, value) {
            search = new URLSearchParams(window.location.search);
            if (value) search.set(name, value);
            else search.delete(name);
            window.location.search = search.toString();
        }
		</script>

    <select name="source" onchange="set_search(this.name, this.value)" class="form-select form-select-lg mb-3">
        {% for source_dict in sources %}
            <option value="{{ source_dict.source }}" {% if source_dict.source == source %}selected{% endif %}>{{ source_dict.description }}</option>
        {% endfor %}
		</select>

		{% for note in notes %}
        <h3><a href="{% url 'note_editor' note.title %}{% if source %}?source={{ source }}{% endif %}">{{ note.title }}</a></h3>
				<p>{{ note.content|slice:":1000" }}</p>
		{% endfor %}

    <p>
		  	{% if current_page > 1 %}
    		  	<a href="{% url 'note_list' %}?p=1">1</a>
		  	{% endif %}
			  {% if current_page > 2 %}
    			  <a href="{% url 'note_list' %}?p={{ prev_page }}"> << </a>
		  	{% endif %}
			  <span>{{ current_page }}</span>
			  {% if current_page < last_page|sub:1 %}
    			  <a href="{% url 'note_list' %}?p={{ next_page }}"> >> </a>
		  	{% endif %}
			  {% if current_page < last_page %}
    			  <a href="{% url 'note_list' %}?p={{ last_page }}">{{ last_page }}</a>
		  	{% endif %}
		</p>

{% endblock %}
