{% extends 'template.html' %}

{% block title %}Импорт/экспорт{% endblock %}

{% block page_title %}Импорт/экспорт{% endblock %}

{% block content %}
    Добавить базу можно на <a href="{% url 'note_service_storage_list' %}">этой странице</a>

    <h3>Копировать заметки из одной базы в другуе</h3>

    <form>
			  <input type="hidden" name="command" value="copy-from-to">
        Из базы:
        <select name="source-from" class="form-select form-select-lg mb-3">
            {% for storage in storages_from %}
                <option value="{{ storage.source }}">
                    {{ storage.source }} | {{ storage.description }}
                </option>
            {% endfor %}
        </select>
        В базу:
        <select name="source-to" class="form-select form-select-lg mb-3">
            {% for storage in storages_to %}
                <option value="{{ storage.source }}"{% if storage.is_default %} selected{% endif %}>
                    {{ storage.source }} | {{ storage.description }}
                </option>
            {% endfor %}
        </select>

        <input type="button" value="Начать копирование" class="do_command btn btn-secondary">
    </form>


    <h3>Импорт/экспорт заметок из архива</h3>

    <form method="get" target="_blank">
		  	<input type="hidden" name="command" value="download-archive">
        Из базы:
   			<div class="input-group mb-3">
						<select name="source-from" class="form-select">
								{% for storage in storages_from %}
										<option value="{{ storage.source }}">
												{{ storage.source }} | {{ storage.description }}
										</option>
								{% endfor %}
						</select>
				  	<button class="btn btn-secondary">Скачать базу</button>
				</div>
    </form>

    <!--
    <form>
        В базу:
        <select name="source-to" class="form-select form-select-lg mb-3">
            {% for storage in storages_to %}
                <option value="{{ storage.source }}"{% if storage.is_default %} selected{% endif %}>
                    {{ storage.source }} | {{ storage.description }}
                </option>
            {% endfor %}
        </select>
    </form>
     -->

    <h3>Очистить базу</h3>
    <form>
			  <input type="hidden" name="command" value="clear">
        <select name="source-to" class="form-select form-select-lg mb-3">
            {% for storage in storages_to %}
                <option value="{{ storage.source }}"{% if storage.is_default %} selected{% endif %}>
                    {{ storage.source }} | {{ storage.description }}
                </option>
            {% endfor %}
        </select>
        <input type="button" value="Очистить" class="do_command btn btn-secondary">
    </form>

{% endblock %}

{% block end_of_body %}
    {{ block.super }}
    <script>
        $('.do_command').click(function(event){
            $.ajax({
                url: '',
                headers: {"X-CSRFToken": CSRF_TOKEN},
                dataType: 'json',
                data: $(event.target.form).serialize(),
                success: function(result) {
                },
                method: "post"
            });
        });
    </script>
{% endblock %}
