{% extends 'template.html' %}

{% block title %}Заметки{% endblock %}

{% block page_title %}Заметки{% endblock %}

{% block content %}

    <p>
        Совокупность заметок является базой знаний. <!--Поиск по базе доступен через телеграм-бот и дискорд-сервер.-->
    </p>

    <script>
        function set_search(name_values_list) {
            search = new URLSearchParams(window.location.search);
            for (let name_value of name_values_list) {
                let name = name_value[0];
                let value = name_value[1];
								if (value) search.set(name, value);
								else search.delete(name);
						}
            window.location.search = search.toString();
        }
		</script>

    <a href="{% url 'note_create' %}"><input type="button" value="Новая заметка" class="btn btn-primary"></a>

    <select onchange="document.cookie='source='+this.value; window.location.reload();" class="form-select form-select-lg mb-3">
        {% for source_dict in sources %}
            <option value="{{ source_dict.source }}" {% if source_dict.source == source %}selected{% endif %}>{{ source_dict.description }}</option>
        {% endfor %}
		</select>

    <form>
        <input type="text" name="search_string" placeholder="Поиск по заметками" value="{% if 's' in request.GET %}{{request.GET.s}}{% endif %}">
        <input type="button" value="Найти" onclick="set_search([['s', this.form.search_string.value], ['p', 1]])">
		</form>

    {% if not notes %}
        <p>База пуста. Вы можете выбрать другую базу либо добавить первую заметку</p>
    {% endif %}

    {{ error }}

		{% for note in notes %}
        <h3><a href="{% url 'note_editor' note.title %}">{{ note.title }}</a></h3>
				<p>{{ note.content|slice:":1000" }}</p>
		{% endfor %}

    <p>
		  	{% if current_page > 1 %}
    		  	<a href="{% url 'note_list' %}?{% if search %}s={% if 's' in request.GET %}{{request.GET.s|urlencode}}{% endif %}&{% endif %}p=1">1</a>
		  	{% endif %}
			  {% if current_page > 2 %}
    			  <a href="{% url 'note_list' %}?{% if search %}s={% if 's' in request.GET %}{{request.GET.s|urlencode}}{% endif %}&{% endif %}p={{ current_page|add:-1 }}"> << </a>
		  	{% endif %}
			  <span>{{ current_page }}</span>
			  {% if current_page < last_page|add:-1 %}
    			  <a href="{% url 'note_list' %}?{% if search %}s={% if 's' in request.GET %}{{request.GET.s|urlencode}}{% endif %}&{% endif %}p={{ current_page|add:1 }}"> >> </a>
		  	{% endif %}
			  {% if current_page < last_page %}
    			  <a href="{% url 'note_list' %}?{% if search %}s={% if 's' in request.GET %}{{request.GET.s|urlencode}}{% endif %}&{% endif %}p={{ last_page }}">{{ last_page }}</a>
		  	{% endif %}
		</p>

{% endblock %}
