{% extends 'template.html' %}
{% load markdownify %}
{% load static %}

{% block title %}{% endblock %}
{% block page_title %} Заметка | {{ note.title }}{% endblock %}

{% block start_of_head %}
    <script src="{% static 'base/extern/codemirror-5.65.14/lib/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'base/extern/codemirror-5.65.14/lib/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'base/extern/codemirror-5.65.14/theme/default.css' %}">
    <script src="{% static 'base/extern/codemirror-5.65.14/mode/markdown/markdown.js' %}"></script>
    <script src="{% static 'base/extern/codemirror-5.65.14/mode/python/python.js' %}"></script>
    <script src="{% static 'base/code-mirror-component.js' %}"></script>
{% endblock %}

{% block content %}
    {{ note|json_script:'note_json' }}

    <div style="text-align: right; color: grey;">База: {{ source }}</div>
    <div id="app_note_id"></div>
{% endblock %}

{% block end_of_body %}
    <style>
        .CodeMirror {
            width: 99%;
            height: 61vh;
        }
    </style>

    <script>
        var URL_SAVE_NOTE = '';
        var CSRF_TOKEN = "{{ csrf_token }}";
    </script>

    <script>
        NoteViewerComponent = {
            props: ['content_html'],
            template: `<div v-html="content_html"></div>`,
        }
    </script>

    <script>
        NoteEditorComponent = {
            props: ['title', 'content', 'errorMessage', 'successMessage'],
            emits: ['save', 'cancel'],
            data() {
                return {mTitle: this.title, mContent: this.content}
            },
            components: {CodeMirrorComponent},
            template: `
                <form>
                    <input name="source" type="hidden" value="{{ source }}">
                    <div class="form-group" id="title-group">
                        <div class="form-floating">
                            <input name="title" v-model="mTitle" style="width:99%;border-bottom-left-radius: 0;border-bottom-right-radius: 0;" class="form-control" placeholder="Заголовок" id="title-field">
                            <label for="title-field" class="form-label">Заголовок заметки</label>
                        </div>
                    </div>
                    <div class="form-group" id="content-group">
                        <code-mirror-component v-model="mContent" name="content" mode="markdown" id="content-field"></code-mirror-component>
                    </div>
                    <br>
                    <div :class="{'d-none': !errorMessage}">
                        <span>[[ errorMessage ]]</span>
                        <br>
                    </div>
                    <div :class="{'d-none': !successMessage}">
                        <span>[[ successMessage ]]</span>
                        <br>
                    </div>
                    <input type="button" value="Сохранить" @click="save" class="btn btn-primary">
                    &nbsp;
                    <input type="button" value="Отменить" @click="cancel" class="btn btn-secondary">
                    &nbsp;
                </form>
            `,
            methods: {
                save(event) {
                    this.$emit('save', event, this.mTitle, this.mContent);
                },
                cancel(event) {
                    this.$emit('cancel', event, this, this.mTitle, this.mContent);
                },
            },
        }
    </script>

    <script>
        NoteComponent = {
            template: `
								<teleport to="h1">[[ title ]]</teleport>
                <note-viewer-component
                    :class="{'d-none': mode == 'edit'}"
                    :content_html="content_html"
                ></note-viewer-component>
                {% if request.user.is_authenticated %}
										<note-editor-component
												v-if="mode != 'view'"
												:title="title"
												:content="content"
												:error-message="errorMessage"
												:success-message="successMessage"
												@save="save"
												@cancel="cancel"
										></note-editor-component>
										<div style="text-align: center;" :class="{'d-none': mode == 'edit'}">
    										<input type="button" value="Редактировать заметку" @click="edit" class="btn btn-outline-secondary">
    								</div>
                {% endif %}
            `,
            components: {NoteViewerComponent, NoteEditorComponent},
            data() {
                is_new = !Boolean(note_object);
                return {
                    title: is_new ? '' : note_object.title,
                    content: is_new ? '' : note_object.content,
                    content_html: is_new ? '' : note_object.content_html,
                    errorMessage: '',
                    successMessage: '',
                    mode: is_new ? 'edit' : 'view',
                    is_new: is_new,
                }
            },
            methods: {
                edit() {
                    this.mode = 'edit';
                },
                view() {
                    this.mode = 'view';
                },
                cancel(event, editor, title, content) {
                    editor.mTitle = this.title;
                    editor.mContent = this.content;
                    this.view();
                },
                save(event, title, content) {
                    let self = this;
                    this.successMessage = 'Сохраняем...';
                    let form = event.target.form;
                    title = title.trim();
                    if (this.is_new) {
                        $.ajax({
                            url: URL_SAVE_NOTE,
                            headers: {
                                "X-CSRFToken": CSRF_TOKEN,
                            },
                            dataType: 'json',
                            data: {title: title, content: content, source: form.source.value},
                            success: function(result) {
                                clear_status_fields(form);
                                set_valid_field(form, result.updated_fields);
                                self.successMessage = '';
                                history.pushState(
                                    null,
                                    null,
                                    location.href.replace('/new', '/' + encodeURI(title) + '.md'),
                                );
                                self.title = title;
                                self.content = content;
                                self.content_html = result.content_html;
                                self.view();
                                self.is_new = false;
                            },
                            statusCode: {
                                500: function(xhr) {
                                    self.errorMessage = 'ошибка сохранения'
                                },
                                400: function(xhr) {
                                    clear_status_fields(form);
                                    set_invalid_field(form, xhr.responseJSON);
                                    self.errorMessage = ''
                                },
                            },
                            method: "post",
                        });
                    } else {
                        $.ajax({
                            url: URL_SAVE_NOTE,
                            headers: {
                                "X-CSRFToken": CSRF_TOKEN,
                            },
                            dataType: 'json',
                            data: {title: title, content: content, source: form.source.value},
                            success: function(result) {
                                clear_status_fields(form);
                                set_valid_field(form, result.updated_fields);
                                self.successMessage = '';
                                history.pushState(
                                    null,
                                    null,
                                    location.href.replace('/' + encodeURI(self.title), '/' + encodeURI(title)),
                                );
                                self.title = title;
                                self.content = content;
                                self.content_html = result.content_html;
                                self.view();
                            },
                            statusCode: {
                                500: function(xhr) {
                                    self.errorMessage = 'ошибка сохранения'
                                },
                                400: function(xhr) {
                                    clear_status_fields(form);
                                    set_invalid_field(form, xhr.responseJSON);
                                    self.errorMessage = ''
                                },
                                404: function(xhr) {
                                    clear_status_fields(form);
                                    self.errorMessage = 'Заметка с таким названием не существует. Возможно, она была переименована'
                                },
                            },
                            method: "put",
                        });
                    }
                }
            },
        }
    </script>

    <script>
        var note_object = JSON.parse(document.getElementById('note_json').textContent);
        const { createApp } = Vue;

        var app_note = createApp(NoteComponent);
        app_note.config.compilerOptions.delimiters = [ '[[', ']]' ];
        var app_note_list = app_note.mount('#app_note_id');
    </script>
{% endblock %}
