{% extends 'template.html' %}

{% block title %}Импорт/экспорт{% endblock %}

{% block page_title %}Импорт/экспорт{% endblock %}

{% block content %}
    <form>
        Из хранилища:
        <select name="source-from" class="form-select form-select-lg mb-3">
            {% for storage in storages %}
                <option value="{{ storage.source }}"{% if storage.is_default %} selected{% endif %}>
                    {{ storage.source }} | {{ storage.description }}
                </option>
            {% endfor %}
        </select>
        В хранилище:
        <select name="source-to" class="form-select form-select-lg mb-3">
            {% for storage in storages %}
                <option value="{{ storage.source }}"{% if storage.is_default %} selected{% endif %}>
                    {{ storage.source }} | {{ storage.description }}
                </option>
            {% endfor %}
        </select>

        <input type="button" value="Начать импортирование" id="btn_import" class="btn btn-secondary">

    </form>
{% endblock %}

{% block end_of_body %}
    <script>
        var CSRF_TOKEN = "{{ csrf_token }}";

        $('#btn_import').click(function(event){
            $.ajax({
                url: '',
                headers: {"X-CSRFToken": CSRF_TOKEN},
                dataType: 'json',
                data: $(event.target.form).serialize(),
                success: function(result) {
                },
                method: "post"
            });
        });
    </script>
{% endblock %}
