{% extends 'template.html' %}

{% block title %}Заметки{% endblock %}

{% block page_title %}Заметки{% endblock %}

{% block content %}
    <script>
        function set_search(name_values_list) {
            search = new URLSearchParams(window.location.search);
            for (let name_value of name_values_list) {
                let name = name_value[0];
                let value = name_value[1];
								if (value) search.set(name, value);
								else search.delete(name);
						}
            window.location.search = search.toString();
        }
		</script>

    <style>
		    .filter-block {
		        border: 1px solid #e9e9e9;
            border-radius: 8px;
            padding: 10px;
            background: aliceblue;
        }
				.note_body {
						border: 1px solid #e9e9e9;
						border-radius: 8px;
						color: grey;
						padding-left: 10px;
						background: #f9f9ff;
				    font-weight: 300;
				}
				.note_body a {
				    text-decoration: none;
				    color: grey;
				}
				.note_body h1, .note_body h2, .note_body h3, .note_body h4, .note_body h5 {
				    font-size: calc(1.2rem + .6vw);
				    font-weight: 200;
				    margin: 0;
				}
				.note_title {
				    text-align: center;
				}
		</style>

    {% if request.user.is_authenticated %}
        <div style="text-align: right;">
            <a href="{% url 'note_create' %}"><input type="button" value="Новая заметка" class="btn btn-primary"></a>
		    </div>
    {% endif %}
    <br>
    <div class="filter-block">
        <div class="mb-3 form-group" id="source-group">
  					<div class="form-floating">
				        <select onchange="document.cookie='source='+this.value; window.location.reload();" class="form-select" id="source-field">
						        {% for source_dict in sources %}
						    	    	<option value="{{ source_dict.source }}" {% if source_dict.source == source %}selected{% endif %}>{{ source_dict.description }}</option>
			        			{% endfor %}
		    		    </select>
  							<label for="source-field">База знаний</label>
    				</div>
				</div>

				<form>
   					<div class="input-group mb-3">
	    					<input type="text" name="s" placeholder="Поиск по заметками" value="{% if 's' in request.GET %}{{request.GET.s}}{% endif %}" class="form-control">
							  <button class="btn btn-outline-secondary" onclick="set_search([['s', this.form.s.value], ['p', 1]])">Найти</button>
				  	</div>
				</form>
		</div>

    {% if not notes %}
        <p>База пуста. Вы можете выбрать другую базу либо добавить первую заметку</p>
    {% endif %}

    {{ error }}

		{% for note in notes %}
        <h3 class="note_title"><a href="{% url 'note_editor' note.title %}?source={{source}}">{{ note.title }}</a></h3>
				<div class="note_body">{{ note.html }}</div>
		{% endfor %}

    <p class="paginator">
		  	{% if current_page > 1 %}
    		  	<a href="{% url 'note_list' %}?{% if 's' in request.GET %}s={{request.GET.s|urlencode}}&{% endif %}p=1">1</a>
		  	{% endif %}
			  {% if current_page > 2 %}
    			  <a href="{% url 'note_list' %}?{% if 's' in request.GET %}s={{request.GET.s|urlencode}}&{% endif %}p={{ current_page|add:-1 }}"> << </a>
		  	{% endif %}
			  <span>{{ current_page }}</span>
			  {% if current_page < last_page|add:-1 %}
    			  <a href="{% url 'note_list' %}?{% if 's' in request.GET %}s={{request.GET.s|urlencode}}&{% endif %}p={{ current_page|add:1 }}"> >> </a>
		  	{% endif %}
			  {% if current_page < last_page %}
    			  <a href="{% url 'note_list' %}?{% if 's' in request.GET %}s={{request.GET.s|urlencode}}&{% endif %}p={{ last_page }}">{{ last_page }}</a>
		  	{% endif %}
		</p>

{% endblock %}
