{% extends 'template.html' %}
{% load markdownify %}
{% load static %}

{% block title %}Базы заметок{% endblock %}
{% block page_title %}Базы заметок{% endblock %}

{% block start_of_head %}
    <script src="{% static 'base/extern/codemirror-5.65.14/lib/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'base/extern/codemirror-5.65.14/lib/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'base/extern/codemirror-5.65.14/theme/default.css' %}">
    <script src="{% static 'base/extern/codemirror-5.65.14/mode/javascript/javascript.js' %}"></script>
    <script src="{% static 'pages/code-mirror-component.js' %}"></script>
{% endblock %}

{% block content %}
    <style>
        .storage_header {
            cursor: pointer;
            padding: 3px 3px 3px 10px;
            border-radius: 3px;
        }
        .storage_header:hover {
            background-color: #ebebeb;
        }
        .collapsed {
            background-color: #eeeeee;
        }
        .collapse-icon {
            width: calc(var(--bs-body-font-size) - 4px);
            height: calc(var(--bs-body-font-size) - 4px);
            cursor: pointer;
            margin-left: 4px;
        }
        .storage_body {
            padding: 0 10px 10px 35px;
        }
		</style>

    {{ storage_services|json_script:'storage_services' }}
    {{ service_names|json_script:'service_names' }}
    {{ service_maps|json_script:'service_maps' }}

    <script>
        var URL_ADD_NOTE = 'storage_services/';
        var CSRF_TOKEN = "{{ csrf_token }}";
    </script>

    <div id="app_note_storage_services_id"></div>
{% endblock %}

{% block end_of_body %}

    <script>
			  MapFieldComponent = {
			      props: ['modelValue', 'name', 'map'],
			      emits: ['update:modelValue'],
			      components: {CodeMirrorComponent},
			      data() {
			          return {prefixed_name: 'cred-' + this.name};
			      },
			      computed: {
                value: {
                    get() {
											 let values = JSON.parse(this.modelValue);
											 let value = values[this.name];
                       if (this.map.type == 'object' && value != undefined && value != '') {
                           value = JSON.stringify(value);
                       }
                       return value ? value.toString() : '';
                    },
                    set(value) {
                       let values = JSON.parse(this.modelValue);
                       if (this.map.type == 'object') {
                           value = JSON.parse(value);
                       }
                       values[this.name] = value;
                       this.$emit('update:modelValue', JSON.stringify(values));
                    },
                },
            },
			      template: `
    			      <div>
                <div class="mb-3 form-group" :id="prefixed_name + '-group'" v-if="map.type=='string' && map.enum">
                    <div class="form-floating">
                        <select v-model="value" v-bind="$attrs" class="form-select form-select-lg mb-3" :id="prefixed_name + '-field'" :name="prefixed_name">
                            <option
                                v-for="variant in map.enum"
                                :value="variant"
                                :selected="value != value"
                            >[[ variant ]]</option>
                        </select>
                        <label :for="prefixed_name + '-field'" class="form-label">[[ map.description ]]</label>
                    </div>
                </div>
                <div class="mb-3 form-group" :id="prefixed_name + '-group'" v-else-if="map.type=='string'">
                    <div class="form-floating">
                        <input v-model="value" v-bind="$attrs" class="form-control" type="text" :id="prefixed_name + '-field'" :pattern="map.pattern" :name="prefixed_name">
                        <label :for="prefixed_name + '-field'" class="form-label">[[ map.description ]]</label>
                    </div>
                </div>
                <div class="mb-3 form-group" :id="prefixed_name + '-group'" v-else-if="map.type=='integer'">
                    <div class="form-floating">
                        <input v-model="value" v-bind="$attrs" class="form-control" type="number" :id="prefixed_name + '-field'" :name="prefixed_name">
                        <label :for="prefixed_name + '-field'" class="form-label">[[ map.description ]]</label>
                    </div>
                </div>
                <div class="form-group" :id="prefixed_name + '-group'" v-else-if="map.type=='object'">
                    <label :for="prefixed_name + '-field'">[[ map.description ]]</label>
                    <code-mirror-component
                        v-model="value"
                        v-bind="$attrs"
                        class="form-control"
                        :id="prefixed_name + '-field'"
                        mode="application/ld+json"
                        :name="prefixed_name"
                    ></code-mirror-component>
                </div>
            </div>
			      `,
			  }
    </script>

    <script>
			  MapSerializerComponent = {
			      props: ['serializerMap', 'modelValue', 'useDefaultValue'],
			      emits: ['update:modelValue'],
			      computed: {
                value: {
                    get() {
                       /*
                       if (this.mUseDefaultValue && this.serializerMap) {
                           let defaultModelValue = {};
                           for (let field_map of this.serializerMap) {
                               if (field_map.map.default != undefined) {
                                   defaultModelValue[field_map.name] = field_map.map.default;
                               }
                           }
                           defaultModelValue = JSON.stringify(defaultModelValue);
                           this.$emit('update:modelValue', defaultModelValue);
                           this.mUseDefaultValue = false;
                           return defaultModelValue;
                       }
                       */
                       return this.modelValue;
                    },
                    set(value) {
                       console.log(['set', value, this.modelValue]);
                       this.$emit('update:modelValue', value);
                    },
                },
            },
			      data() {
			          return {mUseDefaultValue: this.useDefaultValue};
			      },
			      components: {MapFieldComponent},
			      template: `
			          <map-field-component
                    v-for="field in serializerMap"
                    :key="field.name"
                    :name="field.name"
                    :map="field.map"
                    v-model="value"
                ></map-field-component>
                <input type="hidden" v-model="value" v-bind="$attrs">
			      `,
			  }
    </script>

    <script>
        NoteStorageServiceComponent = {
            props:  ['service', 'source', 'description', 'credentials', 'isDefault', 'isNew'],
            data() {
                return {
                    collapsed: this.isNew ? false : true,
                    mIsNew: this.isNew,
                    mDescription: this.description,
                    mCredentials: this.credentials,
                    mSource: this.source,
                    mIsDefault: this.isDefault,
                    mService: this.service,
                    service_names: JSON.parse(document.getElementById('service_names').textContent),
                    service_maps: JSON.parse(document.getElementById('service_maps').textContent),
                    badMessage: '',
                    is_authenticated: this.credentials != undefined,
                };
            },
            emits: ['toggle'],
            components: {CodeMirrorComponent, MapSerializerComponent},
            template: `
                <div style="margin-bottom: 3px;" :class="{'collapsed': !collapsed}">
                    <div class="storage_header" @click="toggle">
                        <div style="color: #afafaf; font-size: calc(var(--bs-body-font-size) - 1px);">
                            <span>[[ mSource ]]</span>
                            |
                            <span>[[ mService ]]</span>
                            <span :class="{'d-none': !mIsDefault}"> | по-умолчанию</span>
                        </div>
                        <span :class="{'d-none': !collapsed}" style="font-size: calc(var(--bs-body-font-size) + 2px);">[[ mDescription ]]</span>
                        <svg class="bi collapse-icon" role="img" title="Open form" style="float: right;">
                            <use xlink:href="{% static 'base/extern/bootstrap-icons.svg' %}#triangle-fill"/>
                        </svg>
                    </div>
                    <form class="storage_body" :class="{'d-none': collapsed}">

                        <select :disabled="!mIsNew" v-model="mService" class="form-select form-select-lg mb-3">
                            <option value="" :selected="mIsNew" disabled>Адаптер базы</option>
                            <option
                                v-for="service_name in service_names"
                                :value="service_name[0]"
                                :selected="service_name[0] == service"
                            >[[ service_name[1] ]]</option>
                        </select>
                        <input type="hidden" name="service" v-model="mService">

                        <div class="mb-3 form-group" id="description-group">
                            <div class="form-floating">
                                <input v-model="mDescription" class="form-control" type="text" name="description" :id="'description-' + $.vnode.key + 'field'" :disabled="!is_authenticated">
                                <label :for="'description-' + $.vnode.key + 'field'" class="form-label">Описание базы</label>
                             </div>
                        </div>

                        <div class="mb-3 form-group" id="source-group">
                            <div class="form-floating">
                                <input v-model="mSource" class="form-control" type="text" name="source" :id="'source-' + $.vnode.key + 'field'" :disabled="!is_authenticated">
                                <label :for="'source-' + $.vnode.key + 'field'" class="form-label">Название базы</label>
                             </div>
                        </div>

                        <div class="mb-3 form-group" id="is_default-group">
                            <div class="form-check form-switch">
                                <input v-model="mIsDefault" class="form-check-input" type="checkbox" name="is_default" :id="'is_default-' + $.vnode.key + 'field'" :disabled="!is_authenticated">
                                <label :for="'is_default-' + $.vnode.key + 'field'" class="form-check-label">Использовать как базу по-умолчанию</label>
                             </div>
                        </div>

                        <div v-if="is_authenticated">
                            <span v-if="service_maps[mService]">Данные для подключения:</span>
                            <map-serializer-component
                                v-if="!collapsed"
                                :serializer-map="service_maps[mService]"
                                v-model="mCredentials"
                                :use-default-value="isNew"
                                name="credentials"
                            ></map-serializer-component>

                            <br>

                            <div class="alert alert-danger" role="alert" :class="{'d-none': !badMessage}">
                                [[ badMessage ]]
                            </div>

                            <input type="button" value="Сохранить" class="btn btn-secondary" @click="save">

                        </div>

                    </form>
                </div>
            `,
            methods: {
                toggle(event) {
                    this.collapsed = this.collapsed ? false : true;
                    this.$emit('toggle', this, this.collapsed);
                },
                save(event) {
                    let self = this;
                    let form = event.target.form;
                    $.ajax({
                        url: URL_ADD_NOTE + this.$.vnode.key,
                        headers: {"X-CSRFToken": CSRF_TOKEN},
                        dataType: 'json',
                        data: $(form).serialize(),
                        success: function(result) {
                            clear_status_fields(form);
                            set_valid_field(form, result.updated_fields);

                            console.log('cred', result.updated_cred_fields);
                            let updated_cred_fields = result.updated_cred_fields;
                            for (let index=0; index < updated_cred_fields.length; index++) {
                                updated_cred_fields[index] = 'cred-' + updated_cred_fields[index];
                            }
                            set_valid_field(form, updated_cred_fields);

                            self.$.vnode.key = result.id;
                            self.mIsNew = false;
                            self.badMessage = '';
                        },
                        statusCode: {
                            500: function(xhr) {
                                self.badMessage = 'ошибка сервера'
                            },
                            400: function(xhr) {
                                clear_status_fields(form);
                                set_invalid_field(form, xhr.responseJSON);

                                let cred_fields_with_prefix = {};
                                let cred_fields = xhr.responseJSON['credentials'];
                                if (cred_fields) {
                                    for (field_name in cred_fields) {
                                        cred_fields_with_prefix['cred-' + field_name] = cred_fields[field_name];
                                    }
                                    set_invalid_field(form, cred_fields_with_prefix);
                                }

                                self.badMessage = ''
                            },
                            404: function(xhr) {
                                self.badMessage = 'база с таким именем не существует'
                            },
                        },
                        method: "post"
                    });
                },
            },
        }
		</script>

    <script>
        NoteStorageServicesComponent = {
            data() {
                return {
                    storages: JSON.parse(document.getElementById('storage_services').textContent),
                    uncollapsed_component: null,
                }
            },
            components: {NoteStorageServiceComponent},
            template: `
                {% if request.user.is_authenticated %}
									<input type="button" value="Добавить" @click="add_server" class="btn btn-primary">
									<br><br>
                {% endif %}
                <note-storage-service-component
                    v-for="storage in storages"
                    :key="storage.pk"
                    :service="storage.service"
                    :description="storage.description"
                    :is-default="storage.is_default"
                    :source="storage.source"
                    :credentials="JSON.stringify(storage.credentials)"
                    @toggle="toggle_any"
                    :is-new="storage.isNew"
                ></note-storage-service-component>
            `,
            methods: {
                toggle_any(component, is_collapsed) {
                    if (!is_collapsed && this.uncollapsed_component && component != this.uncollapsed_component) {
                        this.uncollapsed_component.collapsed = true;
                    }
                    this.uncollapsed_component = component;
                },
                add_server(event) {
                    if (this.uncollapsed_component && !this.uncollapsed_component.isNew) {
                        this.uncollapsed_component.collapsed = true;
                    }
                    if (this.storages.length == 0 || this.storages[0].pk) {
                        this.storages.unshift({
                            service: '',
                            description: '',
                            is_default: '',
                            source: '',
                            pk: '',
                            isNew: true,
                            credentials: {},
                        });
                    }
                }
            },
        }
		</script>

    <script>
        const { createApp } = Vue;

        var app_note = createApp(NoteStorageServicesComponent);
        app_note.config.compilerOptions.delimiters = [ '[[', ']]' ];
        var app_note_storage_services = app_note.mount('#app_note_storage_services_id');
    </script>
{% endblock %}
