{% extends 'template.html' %}
{% load markdownify %}
{% load static %}

{% block keywords %}{% if 'metaKeywords' in content_yaml %}{{ content_yaml.metaKeywords }}{% endif %}{% endblock %}
{% block description %}{% if 'metaDescription' in content_yaml %}{{ content_yaml.metaDescription }}{% endif %}{% endblock %}

{% block title %}{% if note %}{{ note.title }}{% endif %}{% endblock %}
{% block site_title %}Заметка{% endblock %}
{% block page_title %}{% if note %}{{ note.title }}{% else %}Новая заметка{% endif %}{% endblock %}

{% block start_of_head %}
    {{ block.super }}
    <script>
        var URL_SAVE_NOTE = '/edit';
        var HAS_ACCESS_TO_EDIT = {% if has_access_to_edit %}true{% else %}false{% endif %};

        var parts = location.href.split('/');
        if (parts.at(-2) != '{{source}}') {
            parts[parts.length - 2] = '{{source}}';
						history.pushState(null, null, parts.join('/'));
				}
    </script>
    <script src="{% static 'base/extern/codemirror-5.65.14/lib/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'base/extern/codemirror-5.65.14/lib/codemirror.css' %}">
    <script src="{% static 'base/extern/codemirror-5.65.14/mode/markdown/markdown.js' %}"></script>
    <script src="{% static 'base/extern/codemirror-5.65.14/mode/python/python.js' %}"></script>
    <script src="{% static 'base/code-mirror-component.js' %}"></script>
    <script src="{% static 'base/extern/mermaid.min.js' %}"></script>
{% endblock %}

{% block content %}
    {{ note|json_script:'note_json' }}

    <div style="text-align: right; color: grey;">
			  {% if note %}Создано: {{ note.username }}{% endif %} База: {{ source }}
		</div>
    <div id="app_note_id">{% if note %}{{ note.content_html }}{% endif %}</div>
{% endblock %}

{% block end_of_body %}
    {{ block.super }}
    <style>
        .CodeMirror {
            width: 99%;
            height: 61vh;
        }
    </style>

    <script>
        NoteViewerComponent = {
            props: ['content_html'],
            template: `<div v-html="content_html"></div>`,
        }
    </script>
    <script src="{% static 'note/note-editor-component.js' %}?v=1"></script>
    <script src="{% static 'note/note-component.js' %}?v=2"></script>

    <script>
        const { createApp } = Vue;
        var app_note = createApp(NoteComponent);
        app_note.config.compilerOptions.delimiters = [ '[[', ']]' ];
        var app_note_list = app_note.mount('#app_note_id');
    </script>
{% endblock %}
